@import "../fonts/Raleway/raleway.css";
.raleway{
    font-family: Raleway;
}

.raleway-medium{
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
}
.raleway-light{
    font-family: Raleway;
    font-weight: 300;
    font-style: normal;
}
.raleway-light-italic{
    font-family: Raleway;
    font-weight: 300;
    font-style: italic;
}
.raleway-italic{
    font-family: Raleway;
    font-weight: 400;
    font-style: italic;
}
.boxshadow{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.decoration-none a {
    color: black;
    text-decoration: none!important;
    font-style: normal;
    border-bottom: 1px dashed;
}
.decoration-none a:hover{
    text-decoration: none;
    color: #972c36!important;
    font-style: normal;
    border-bottom: 1px solid;
}

.link-all-servises{
    position: absolute;
    bottom: 5px;
    left: 25%;
    right: 25%;
}

.fs-headers-md{
    font-size: 1.7rem;
}

.fs-headers-sm{
    font-size: 1rem;
}
.fs-headers-description{
    font-size: 0.9rem;
}

.poz-fixed{
    position: fixed;
    z-index: 999;
    top: 0;

}

.header-img{
    width: 98px;
}

.header-logo-img{
    width: 160px;
}

.header-btn-with{
    width: 300px;
}

.margin-banner{
    margin-top: 130px!important;
}

.callback-form-bg{
    background-color: #f5f5f5;
}
.decoration-none a {
    text-decoration: none;
}

/*----------------------*/

.top-slider-container .fz-top {
    background: url(../img/fz1.png) no-repeat center;
    background-size: cover;
}

.top-slider-container .fz-bottom {
    background: url(../img/fz2.png) no-repeat center;
    background-size: cover;
}

.top-slider-container .border-white-transparent {
    border: 3px solid rgba(255, 255, 255, .6);
}

.top-slider-container .bg-white-transparent {
    background-color: rgba(255, 255, 255, .6);
}

.top-slider-container .slider-item {
    background: no-repeat center;
    background-size: cover;
}

.top-slider-container .slider-fixed-height{
    height: 350px;
}

.services-container .service-block {
    position: relative;
    overflow-y: hidden;
}

.services-container .service-block .hidden-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f5f7fa;
    opacity: 0.0;
    margin-top:300px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.services-container .service-block:hover .hidden-content {
    margin-top:0px;
    opacity: 1.0;
}

.services-container img {
    height: 50px;
    width: 60px;
}

.services-container .service-desk {
    font-size: 0.9rem;
}

.services-container .hidden-content .hvr-sweep-to-right {
    color: black;
}

.statuses-container {
    background-image: url("../img/bg-gray-coub.png");
    background-size: cover;
    border-top: 6px solid #d7bf9a;
    border-bottom: 6px solid #d7bf9a;
}

.statuses-container .card-header {
    font-size: 1.4rem;
    font-weight: 500;
}

.statuses-container .card-footer .more-button a {
    color: black;
}

.statuses-container .card-body {
    height: 125px;
}

.statuses-container .card-body .status-image-row {
    height: 80px;
}

.statuses-container .card-body .status-image-row img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.map-container {
    border-top: 3px solid #2b2f40;
    border-bottom: 3px solid #2b2f40;
}

.news-container .news-block .news-back {
    position: relative;
}

.news-container .news-block .news-back .news-date {
    position: absolute;
    top: 10px;
    right: 20px;
}

.news-container .news-block a:hover {
    text-decoration: none !important;
}

.news-container .news-block .news-back {
    background-color: #f5f5f5;
    /*-webkit-box-shadow: 1px 7px 31px -2px rgba(0,0,0,0.27);*/
    /*-moz-box-shadow: 1px 7px 31px -2px rgba(0,0,0,0.27);*/
    /*box-shadow: 1px 7px 31px -2px rgba(0,0,0,0.27);*/
}

.news-container .news-block .news-back:hover {
    -webkit-box-shadow: 1px 7px 31px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 7px 31px -2px rgba(0,0,0,0.4);
    box-shadow: 1px 7px 31px -2px rgba(0,0,0,0.4);
}

.news-container .news-block .news-back .news-label span {
    color: black;
    font-weight: 500;
}

.top-slider-container .owl-carousel {
    position: relative;
    height: 100%;
}

.top-slider-container .owl-carousel div:not(.owl-dots) {
    height: 100%;
}

.top-slider-container .owl-dots {
    position: relative;
    z-index: 99;
    margin-top: -23px !important;
}

.partners-container img {
    max-width: 200px;
    max-height: 100px;
    height: auto;
    width: auto;
     filter: url(filters.svg#grayscale); Firefox 3.5+
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;
}

.partners-container img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
